<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Boostrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <!-- Load d3.js -->
        <script src="https://d3js.org/d3.v4.js"></script>

        <title>Weather Visualization Tool</title>
    </head>
    
    <body id="map">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
              <a class="navbar-brand mx-auto" href="/"><img src="{{url_for('static', filename='logoWVT.png')}}" class="rounded" alt="logo" height="70" width="350"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-secondary btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#settingsModal">Settings</button>
                <button class="btn btn-secondary btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#aboutModal">About</button>
              </div>
            </div>
        </nav>

        <!-- Modal About-->
        <div class="modal fade" id="aboutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="aboutModalLabel">About WVTool</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        Building...
                    </div>
                    <div class="row align-items-center">
                        A ordem numérica das células do grid do mapa é feita da esquerda para a direita e de baixo para cima
                    </div>
                    <div class="row align-items-end">
                        *Developed on 2022 by Dennis and Raphael
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>

        <!-- Modal Settings-->
        <div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="settingsModalLabel">Settings</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label>File's path: </label>
                    <input id="path-input"  type="text" xclass="form-control" placeholder="path is defined via command line" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Apply</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <span>Meteorological Variable: </span>
                &nbsp;
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    
                        <select id='variable' class="form-select-sm" aria-label="Default select example">
                            <option selected> Select </option>
                            <option value="1"> Lightning </option>
                            <option value="2"> Reflectivity </option>
                        </select>
                    
                </div>
                <div class="col-1">
                    <button onClick="reproduce()" class="btn btn-danger btn-sm" type="button">Play</button>
                </div>
                <div class="col-3 text-end">
                    <select id='extension' class="form-select-sm" aria-label="Default select example" >
                        <option selected>Select extension</option>
                        <option value="1">.gif</option>
                        <option value="2">.png</option>
                    </select>
                </div>
                <div class="col-3 text-center">    
                    <button onClick="download()" class="btn btn-success btn-sm" type="button">Download</button>
                </div>
            </div>
        </nav>

        <div class="container text-center">
            <div class="row align-items-center"> 
                <div class="col-7">
                    <div class="row">
                        <div class="text-center">
                            <div id="rio_map"> {{map|safe}} </div>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="row">
                        <div class="col-7">
                            <span> Grid cell number: </span>
                        </div>
                        <div class="col-5">
                            <select id='s1' class="form-select-sm" aria-label="Default select example">
                                <option selected>Select</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-center">
                            <div id="grid-1">{{chart1|safe}}</div>
                        </div>
                    </div>
                    <div class="row">

                    </div>
                    <div class="row">
                        <div class="col-7">
                            <span> Grid cell number: </span> 
                        </div>
                        <div class="col-5">
                            <select id='s2' class="form-select-sm" aria-label="Default select example">
                                <option selected>Select</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-center">
                            <div id="grid-2">{{chart2|safe}}</div>
                        </div>
                    </div>
                </div>
              </div>
        </div>

        <div class="container text-center">
            <div class="row align-items-center">
                    <div class="col-1 text-end">
                        <span> Start </span>
                    </div>
                    <div class="col-1 text-start">
                        <input id="startDate" class="form-control-sm" type="date" style="width: 150px;" />
                    </div>
                    <div class="col-1 text-start">
                        <input id="startHour" class="form-control-sm" type="time" style="width: 150px;" />
                    </div>
                    <div class="col-1 text-end">
                        <span> Finish </span>
                    </div>
                    <div class="col-1 text-start">
                        <input id="endDate" class="form-control-sm" type="date" style="width: 150px;"/>
                    </div>
                    <div class="col-1 text-start">
                        <input id="endHour" class="form-control-sm" type="time" style="width: 150px;"/>
                    </div>
              </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
        
        <script>
            /*popular select boxes*/
            var select = '<option >select</option>';
            for (i=1;i<=49;i++){
                select += '<option val=' + i + '>' + i + '</option>';
            }
            $('#s1').html(select);
            $('#s2').html(select);

            const verify = () => {
                var e = document.getElementById("variable");
                var text = e.options[e.selectedIndex].text; 

                if (text == 'Reflectivity'){
                    alert("Não implementado!");
                    return false
                }

                if (text == 'Select'){
                    alert("Escolha uma variável meteorológica");
                    return false
                }

                var grid1 = document.getElementById("s1");
                var grid2 = document.getElementById("s2");

                var text_grid1 = grid1.options[grid1.selectedIndex].text;
                var text_grid2 = grid2.options[grid2.selectedIndex].text;

                if (text_grid1 == 'select'){
                    alert("Escolha uma célula para o primeiro gráfico!");
                    return false
                }

                if (text_grid2 == 'select'){
                    alert("Escolha uma célula para o segundo gráfico!");
                    return false
                }

                var dataInicio = document.getElementById("startDate").value;
                var horaInicio = document.getElementById("startHour").value;
                var dataFim = document.getElementById("endDate").value;
                var horaFim = document.getElementById("endHour").value;

                if (dataInicio == '' || horaInicio == '' || dataFim == '' || horaFim == ''){
                    alert('Preencha todos os campos de data e hora!');
                    return false
                }

                if (new Date(dataFim) < new Date(dataInicio)){
                    alert("Data de inicio maior que data de fim!");
                    return false
                }

                /*var path = document.getElementById("path-input").value
                if (path==""){
                    alert("O Caminho para os dados não foi especificado");
                    return false
                }*/

                getChartParams(dataInicio, horaInicio, dataFim, horaFim, text_grid1, text_grid2);
                getView(dataInicio, horaInicio, dataFim, horaFim);
                /*getChartParams(dataInicio, horaInicio, dataFim, horaFim, text_grid1, text_grid2, path);*/
                return true
            }
            
            const reproduce = () => {
                if (verify()){
                    var vid = document.getElementsByTagName("video");
                    vid[0].play();
                    vid[1].play();
                }
            }

            const download = () => {
                var e = document.getElementById("extension");
                var text = e.options[e.selectedIndex].text; 
                if (text == '.png' || text =='.gif')
                    alert("Não implementado!")
            }

            async function getChartParams(startDate, startHour, endDate, endHour, sel1, sel2) {
                
                let oldGrid1 = document.getElementById("grid-1");
                let newGrid1 = document.createElement('div');
                newGrid1.setAttribute("id", "grid-1")
                
                let oldGrid2 = document.getElementById("grid-2");
                let newGrid2 = document.createElement('div');
                newGrid2.setAttribute("id", "grid-2")
                
                await fetch(`http://localhost:5000/chart?start_date=${startDate}&end_date=${endDate}&start_hour=${startHour}&end_hour=${endHour}&cel_number1=${sel1}&cel_number2=${sel2}`, {
                    "method": "GET",
                    "headers": {
                        'Content-type': 'application/json;'
                    }
                })
                .then(response => response.text())
                .then(text => {
                    grid1 = text.substring(0, text.indexOf('</video>'))
                    grid2 = text.substring(text.indexOf('</video>'))

                    newGrid1.innerHTML = grid1;
                    oldGrid1.parentElement.replaceChild(newGrid1, oldGrid1);

                    newGrid2.innerHTML = grid2;
                    oldGrid2.parentElement.replaceChild(newGrid2, oldGrid2);
                });
            }

            var currentdate = new Date();

            var startDate = currentdate.getFullYear() +
                "-" + (currentdate.getMonth() + 1) +
                "-" + "01" +
                " " + "00" +
                ":" + "00" +
                ":" + "00";
            
            var endDate = currentdate.getFullYear() +
                "-" + (currentdate.getMonth() + 1) +
                "-" + "01" +
                " " + "00" +
                ":" + "00" +
                ":" + "15";
            
            const getView = (startDate, startHour, endDate, endHour) => {

                // Get the path to the data
                let path = document.getElementById("path-input").value;
                path = "./src/static/data/satelite_data"
                // Prepares to replace with new loaded map
                let oldMap = document.getElementById("rio_map");
                let newMap = document.createElement('div');
                newMap.setAttribute("id", "rio_map")
                
                fetch(`http://localhost:5000/map?data_path=${path}&start_date=${startDate}&start_hour=${startHour}&end_date=${endDate}&end_hour=${endHour}`, {
                    "method": "GET",
                    "headers": {
                        'Content-type': 'application/json;'
                    }
                })
                .then(response => response.text())
                .then(text => {
                    newMap.innerHTML = text;
                    oldMap.parentElement.replaceChild(newMap, oldMap);
                });
            }
        </script>
    </body>
</html>